@font-face {
  font-family: 'Source Sans 3';
  src: url('../fonts/SourceSans3-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans 3';
  src: url('../fonts/SourceSans3-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
:root {
  --pico-font-family: "Source Sans 3";
  font-family: 'Source Sans 3', sans-serif;
}

.nav-wrapper {
  /* border: 1px solid lightblue; */
  border-bottom: 1px solid var(--pico-muted-border-color);
  margin-bottom: 2em;
  position: sticky;
  top: 0;
  background-color: var(--pico-background-color);
}

nav {
  padding: .5em 0;
}

a.nav-title {
  color: inherit;
  text-decoration-color: inherit;
}

ul, ol {
  padding: 0;
}

ul li {
  list-style: none;
}