<!DOCTYPE html>
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ base_url }}assets/css/pico.pumpkin.min.css">
  <link rel="stylesheet" href="{{ base_url }}assets/css/app.css">
</head>

<body>
  
  <div class="nav-wrapper">
    <nav class="container">
      <ul class="nav-branding">
        <li><a 
          class="nav-title" 
          href="{{ base_url }}index.html">
            <strong>Proyecto Torrus</strong>
        </a></li>
      </ul>
      <ul class="nav-pages">
        <li><a href="{{ base_url }}about.html">About</a></li>
        <li>|</li>
        {% for nav_category in categories %}
          <li><a href="{{ base_url }}categories/{{ nav_category }}.html">{{ nav_category }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>

  <main class="container">