{% include 'snippets/header.html' with context %}
<h1>Blog Posts</h1>
<ul>
  {% for post in posts %}
  <li>
    <a href="{{ base_url }}{{ post.filename }}">{{ post.title }}</a> - {{ post.date }} - <a
      href="{{ base_url }}categories/{{ post.category }}.html">{{ post.category }}</a>
  </li>
  {% endfor %}
</ul>
<h2>Categories</h2>
<ul>
  {% for category in categories %}
  <li>
    <a href="{{ base_url }}categories/{{ category }}.html">{{ category }}</a>
  </li>
  {% endfor %}
</ul>
{% include 'snippets/footer.html' with context %}