{% include 'snippets/header.html' %}
<div>

  <header>
    <hgroup>
      <h1>Ultimas publicaciones</h1>
      <p>Descubre las ultimas publicaciones</p>
    </hgroup>
    
  </header>
  
  <div>
    {% include 'snippets/list_posts.html' %}
  </div>
</div>

<h2>Categories</h2>
<ul>
  {% for category in categories %}
  <li>
    <a class="button" href="{{ base_url }}categories/{{ category }}.html">
    <button>{{ category }}</button>  
    </a>
  </li>
  {% endfor %}
</ul>
{% include 'snippets/footer.html' %}